PORT=your-port-number
MONGODB_URI=mongodb+srv://email:password@cluster0.yblv6.mongodb.net
CORS_ORIGIN=allowOrigin
ACCESS_TOKEN_SECRET=set-random-string
ACCESS_TOKEN_EXPIRY=set-day-for-expirary
REFRESH_TOKEN_SECRET=set-random-string
REFRESH_TOKEN_EXPIRY=set-refresh-token-expiry